@{
    var actionName = ViewContext.RouteData.Values["action"].ToString().ToLower() + "css";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../../assets/ico/logo.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/pop")
    @Scripts.Render("~/bundles/zjxd")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/aaaa")
    @RenderSection("Header", false)
</head>
<body id="body">
    <div class="container body-content">
        @RenderBody()

    </div>
    @RenderSection("scripts", required: false)
    @RenderSection("footer", required: false)
    <script>
        $(function () {
            var action ="@actionName";
            if (action.toString() === "score_scss") {
                $("#scorecss").addClass("active");
                return;
            }
            $("#@actionName").addClass("active");
    });
    </script>
</body>
</html>
