@model IEnumerable<Demo1.Models.TestInfo>

@{
    ViewBag.Title = "Index";
}

<h2>试卷详情</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.test_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.test_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.test_info)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.test_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.test_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.test_info)
        </td>
        <td>
            <a href="javascript:void(0);" onclick="loadXMLDoc('/Users/Edit/@item.test_id')">查看试卷</a> |
            <a href="javascript:void(0);" onclick="loadXMLDoc('/TestInfoes/Edit/@item.test_id')">修改试卷</a> |
            <a href="javascript:void(0);" onclick="mcon()?loadXMLDoc('/TestInfoes/Delete/@item.test_id'):''">删除试卷</a> |
            <a href="javascript:void(0);" onclick="loadXMLDoc('/Questions/Create/@item.test_id')">添加试题</a> 
        </td>
    </tr>
}

</table>
