
@model IEnumerable<Demo1.Models.StuTestInfoModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.testInfo.test_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testInfo.test_time)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.testInfo.test_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.testInfo.test_time)
        </td>
        <td>
            @{
                if (item.IsDone)
                {
                    <a href="/Stu/TestAnswer/@item.testInfo.test_id">查看成绩</a>
                }
                else
                {
                    <a href="/Stu/OnlineTest/@item.testInfo.test_id">开始作答</a>
                }
            }
        </td>
    </tr>
    }

</table>
