@model IEnumerable<Demo1.Models.User>

@{
    ViewBag.Title = "Index";
}
<h1>查看用户</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.school)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.school)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registime)
        </td>
        <td>
            <a href="javascript:void(0);" onclick="loadXMLDoc('/Users/Edit/@item.id')">修改用户信息</a> |
            <a href="javascript:void(0);" onclick="mcon()?loadXMLDoc('/Users/Delete/@item.id'):''">删除用户</a>
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(function () {
        var message = '@TempData["message"]';
        if (message.length != 0)
            alert(message);
    });
</script>
  
