@model Demo1.Models.Question

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.test_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_chooseA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_chooseA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_chooseB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_chooseB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_chooseC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_chooseC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_chooseD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_chooseD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_answer)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
